.root {
    padding-top: 50px;
    @media (min-width: 640px) {
        padding-top: 60px;
    }
    @media (min-width: 840px) {
        padding-top: 108px;
    }
    @media (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        padding-top: 136px;
    }
}

.btn {
    margin-top: 24px;
    border: none;
    display: inline-block;
    transition: background-color .3s, border-color .3s, color .3s;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    background-color: #3A78FF;
    border-radius: 8px;

    &:hover {
        background-color: #265ACC;
    }

    &:active {
        background-color: #1B4398;
    }

}

/*.totalWrapper {}*/

.totalList {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    @media (min-width: 640px) {
        margin-bottom: 60px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 840px) {
        margin-bottom: 70px;
    }

    @media (min-width: 1280px) {
        flex-direction: column;
        width: auto;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.totalItem {
    &:not(&:first-child) {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #2A2B36;

        @media (min-width: 640px) {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }

        @media (min-width: 1280px) {
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid #2A2B36;
        }
    }
}

.divider {
    display: none;
    @media (min-width: 640px) {
        display: block;
        width: 1px;
        height: 60px;
        background-color: #2A2B36;
    }
    @media (min-width: 840px) {
        height: 70px;
    }
    @media (min-width: 1280px) {
        display: none;
    }
}

.totalTitle {
    color: #A9ABC7;
    margin-bottom: 12px;
}

.totalSum {
    font-family: var(--font-bold);
    font-size: 24px;

    @media (min-width: 640px) {
        font-size: 18px;
    }

    @media (min-width: 840px) {
        font-size: 24px;
    }
}

.launchBtnDesktop {
    display: none;
    @media (min-width: 1280px) {
        display: inline-block;
    }
}

.marketsWrapper {
    @media (min-width: 1280px) {
        flex-grow: 1;
        padding-left: 100px;
    }
}

.marketLabelsDesktop {
    display: none;
    @media (min-width: 640px) {
        display: flex;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 16px;
    }
    @media (min-width: 840px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.marketLabelDesktopItem {
    width: 20%;
    font-size: 14px;
    color: #A9ABC7;
    &:not(&:first-child) {
        text-align: right;
        padding-left: 12px;
        @media (min-width: 840px) {
            padding-left: 24px;
        }
    }
}

.marketsList {
    margin-bottom: 40px;
}

.marketItem {
    border-radius: 8px;
    background-color: #2A2B36;
    padding: 12px 8px;
    font-size: 14px;

    &+& {
        margin-top: 16px;
    }

    @media (min-width: 640px) {
        display: flex;
        border-radius: 0;
        padding: 22px 12px;
    }
    @media (min-width: 840px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.marketItemSymbol {
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    @media (min-width: 640px) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 20%;
    }
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    @media (min-width: 640px) {
        width: 32px;
        height: 32px;
    }
}
.marketItemLabel {
    color: #A9ABC7;
    font-size: 12px;

    @media (min-width: 640px) {
        display: none;
    }
}
.marketItemValuesWrapper {
    display: flex;
    flex-grow: 1;
}
.marketItemValue {
    display: flex;
    flex-direction: column;
    width: 25%;
    @media (min-width: 640px) {
        text-align: right;
        padding-left: 12px;
    }
}

.btnWrapper {
    display: flex;
    justify-content: center;
    @media (min-width: 1280px) {
        display: none;
    }
}