.socialLinksWrapper {
    display: flex;
}

.socialIcon {
    width: 32px;
    height: 32px;
    padding: 8px;
}

.socialLink {
    display: inline-flex;
    background-color: var(--color-button-secondary);
    border-radius: 4px;
    transition: background-color .3s;

    &:hover {
        background-color: var(--color-primary);
    }

    &:active {
        background-color: var(--color-primary-hover);
    }

    &+& {
        margin-left: 16px;
    }
}