@import "fonts.css";
@import "variables.css";
@import "media.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: white;
  font-size: 16px;
  line-height: 1.5;
}