:root {
    --fontSize: 1rem;
    --color-bg: #121620;
    --color-bg-transparent: #121620d1;
    --color-bg-secondary: #181d2a;
    --color-text: white;
    --color-primary: #3A78FF;
    --color-primary-hover: #265ACC;
    --color-primary-active: #1B4398;
    --color-text-secondary: #A9ABC7;
    --color-button-secondary: #343542;
    --color-card-border: #21293A;

    --font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --font-default: 'Proxima Nova Rg', var(--font-fallback);
    --font-bold: 'Proxima Nova Lt', var(--font-fallback);
    --font-intro: 'Inconsolata', var(--font-fallback);
}
