:root {
    --fontSize: 1rem;
    --color-bg: #121620;
    --color-white: white;

    --font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --font-default: 'Proxima Nova Rg', var(--font-fallback);
    --font-bold: 'Proxima Nova Lt', var(--font-fallback);
    --font-intro: 'Inconsolata', var(--font-fallback);
}